
.vs/Configurator/v16/Browse.VC.db
.vs/Configurator/v16/.suo
.vs/Configurator/v16/Browse.VC.db
.vs/Configurator/v16/.suo
*.db
*.ipch
*.tlog
*.obj
*.pdb
.vs/Configurator/v16/Browse.VC.db
Release/Configurator.exe.metagen
Release/Configurator.exe.metagen
Project2/Release/Configurator.exe.recipe
