
*.db
*.ipch
*.tlog
*.obj
*.pdb
Release/Configurator.exe.metagen
Project2/Release/Configurator.exe.recipe
.vs/Configurator/v16/ipch/AutoPCH/8dbfbdc3dffd6c05/MYFORM.ipch
Project2/Debug/Project2.vcxprojAssemblyReference.cache
.vs/Configurator/v16/.suo
.vs/Configurator/v16/Browse.VC.db
